<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446728464883-os5ughvjeqkneefsp0sadus9sau7flhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446728464883-os5ughvjeqkneefsp0sadus9sau7flhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDiBHfOxTd3UIAgB97UPBLHVVH6c4xIaU8</string>
	<key>GCM_SENDER_ID</key>
	<string>446728464883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.joaopegoraro.meuMengao</string>
	<key>PROJECT_ID</key>
	<string>meu-mengao-900c0</string>
	<key>STORAGE_BUCKET</key>
	<string>meu-mengao-900c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446728464883:ios:a9e53dfd860f18c78d0a86</string>
	<key>DATABASE_URL</key>
	<string>https://meu-mengao-900c0-default-rtdb.firebaseio.com</string>
</dict>
</plist>